# List comprehension

In [5]:
range(1,21)
dalinasiiš3 = []
for x in range(1, 21):
    if (x % 3) == 0:
        dalinasiiš3.append(x)
print(dalinasiiš3)
# visa tai galima perteikti ir viena eilute. Žiūrėti apačioje:)

[3, 6, 9, 12, 15, 18]

In [11]:
y = [x * 2 for x in range(1, 21)]
print(y)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40]

In [13]:
dalinasiiš3 = [x for x in range(1, 21) if x % 3 ==0]
print(dalinasiiš3)

[3, 6, 9, 12, 15, 18]

In [14]:
dalinasiiš3 = [x if x % 3 ==0 else "nesidalina" for x in range(1, 21) ]
print(dalinasiiš3)

['nesidalina', 'nesidalina', 3, 'nesidalina', 'nesidalina', 6, 'nesidalina', 'nesidalina', 9, 'nesidalina', 'nesidalina', 12, 'nesidalina', 'nesidalina', 15, 'nesidalina', 'nesidalina', 18, 'nesidalina', 'nesidalina']

# None deklaracija

In [1]:
niekas = None
print(type(niekas))

<class 'NoneType'>

In [2]:
list_1 = [1, 2, 3, 4, ]
print(list_1.sort()) # atmintyje yra įrašomas rikiavimas, o grąžina None. Jei print(list_1), tai atspausdins jau išrikiuotą sąrašą.

None

In [101]:
#name = ""
#name=input ("koks tavo vardas?")
#if name == "Jonas":
#    print("sveikas, Jonai!")

name = None
name1=input ("koks tavo vardas?")
if name1 == "":
    name1=input("neįrašėte vardo, tai koks jūsų vardas?")
print(f"vardas yra {name}")
if name1 != "":
    name=name1
print(f"vardas yra {name}")

vardas yra None
vardas yra Jonas

# Dictionary

In [16]:
me = {
    "vardas" : "Jonas",
    "amzius" : 26
}
print(me)
print(me ["vardas"])
print(len(me))
print(me.keys())
me["hobiai"] = ["fotografavimas", "muzika" ]
print(me)
me["amzius"] = 27
print(me)
print(type(me["hobiai"]))

{'vardas': 'Jonas', 'amzius': 26}
Jonas
2
dict_keys(['vardas', 'amzius'])
{'vardas': 'Jonas', 'amzius': 26, 'hobiai': ['fotografavimas', 'muzika']}
{'vardas': 'Jonas', 'amzius': 27, 'hobiai': ['fotografavimas', 'muzika']}
<class 'list'>

In [15]:
someone = {
    "True": "tiesa",
    "False": "false",
    5: "penki"
}
print(someone["True"])
print(someone[5])

tiesa
penki

In [25]:
žmonės = [
    {"vardas": "Jonas",
    "pavardė": "Jonaitis"},
    {"vardas": "Petras",
    "pavardė": "Petraitis" }
]
print(žmonės)
žmonės[0]["vardas"] = "Martynas"
print(žmonės[0]["vardas"])
print(žmonės)
for vardai in žmonės:
    print(vardai ["vardas"])

[{'vardas': 'Jonas', 'pavardė': 'Jonaitis'}, {'vardas': 'Petras', 'pavardė': 'Petraitis'}]
Martynas
[{'vardas': 'Martynas', 'pavardė': 'Jonaitis'}, {'vardas': 'Petras', 'pavardė': 'Petraitis'}]
Martynas
Petras

In [4]:
me = {
    "vardas" : "Jonas",
    "amzius" : 26
}
print(me)
print(me ["vardas"])
print(len(me))
print(me.keys())
me["hobiai"] = ["fotografavimas", "muzika" ]
print(me)
me["amzius"] = 27
print(me)
print(len(me))

{'vardas': 'Jonas', 'amzius': 26}
Jonas
2
dict_keys(['vardas', 'amzius'])
{'vardas': 'Jonas', 'amzius': 26, 'hobiai': ['fotografavimas', 'muzika']}
{'vardas': 'Jonas', 'amzius': 27, 'hobiai': ['fotografavimas', 'muzika']}
3

In [6]:
print(me)
me.clear() # ištrina viską, jei norisi ištrinti konkrečiai ką nors, naudoti del
print(me)

{'vardas': 'Jonas', 'amzius': 27, 'hobiai': ['fotografavimas', 'muzika']}
{}

In [8]:
me = {'vardas': 'Jonas', 'amzius': 27, 'hobiai': ['fotografavimas', 'muzika']}
print(me)
del me["hobiai"]
print(me)

{'vardas': 'Jonas', 'amzius': 27, 'hobiai': ['fotografavimas', 'muzika']}
{'vardas': 'Jonas', 'amzius': 27}

In [11]:
me = {'vardas': 'Jonas', 'amzius': 27, 'hobiai': ['fotografavimas', 'muzika']}
print(me)
me.pop("vardas")
print(me)

{'vardas': 'Jonas', 'amzius': 27, 'hobiai': ['fotografavimas', 'muzika']}
{'amzius': 27, 'hobiai': ['fotografavimas', 'muzika']}

In [16]:
me = {'vardas': 'Jonas', 'amzius': 27, 'hobiai': ['fotografavimas', 'muzika']}
print(me)
print(me.popitem()) #popitem savo nuožiūra (gal paskutinį) ištrina vieną narį ir jį pateikia. Atkreipti dėmesį, kad pateikia paprastais skliaustais ().
print(me)

{'vardas': 'Jonas', 'amzius': 27, 'hobiai': ['fotografavimas', 'muzika']}
('hobiai', ['fotografavimas', 'muzika'])
{'vardas': 'Jonas', 'amzius': 27}

In [22]:
me = {'vardas': 'Jonas', 'amzius': 27, 'hobiai': ['fotografavimas', 'muzika']}
print(me)
#print(me["neegzistuojantys dalykai"]) # išmeta klaidą
print(me.get("neegzistuojantys dalykai")) # nemeta klaidos
print(me.get("neegzistuojantys dalykai", "nerastas")) 
print(me.get("hobiai"))

{'vardas': 'Jonas', 'amzius': 27, 'hobiai': ['fotografavimas', 'muzika']}
None
nerastas
['fotografavimas', 'muzika']

In [15]:
# get vs [] for retrieving elements
my_dict = {'name': 'Jack', 'age': 26}

# Output: Jack
print(my_dict['name'])

# Output: 26
print(my_dict.get('age'))

# Trying to access keys which doesn't exist throws error
# Output None
print(my_dict.get('address'))

# KeyError
print(my_dict['address'])

Jack
26
None

KeyError: 'address'

In [23]:
me = {'vardas': 'Jonas', 'amzius': 27, 'hobiai': ['fotografavimas', 'muzika']}
print(me)
nauji_duomenys = {"amzius": 28, "hobiai": ['fotografavimas', 'muzika', 'rankinis']}
me.update(nauji_duomenys)
print(me)

{'vardas': 'Jonas', 'amzius': 27, 'hobiai': ['fotografavimas', 'muzika']}
{'vardas': 'Jonas', 'amzius': 28, 'hobiai': ['fotografavimas', 'muzika', 'rankinis']}

In [33]:
me = {'vardas': 'Jonas', 'amzius': 27, 'hobiai': ['fotografavimas', 'muzika']}
print(me)
for value in me.values():
    print(value)
for key in me.keys():
    print(key)

{'vardas': 'Jonas', 'amzius': 27, 'hobiai': ['fotografavimas', 'muzika']}
Jonas
27
['fotografavimas', 'muzika']
vardas
amzius
hobiai

In [31]:
me = {'vardas': 'Jonas', 'amzius': 27, 'hobiai': ['fotografavimas', 'muzika']}
print(me)
for key, value in me.items():
    print(f" key is {key} and value is {value}")

{'vardas': 'Jonas', 'amzius': 27, 'hobiai': ['fotografavimas', 'muzika']}
 key is vardas and value is Jonas
 key is amzius and value is 27
 key is hobiai and value is ['fotografavimas', 'muzika']

In [17]:
# Dictionary Comprehension
squares = {x: x*x for x in range(6)}

print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [18]:
squares = {}
for x in range(6):
    squares[x] = x*x
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [19]:
# Dictionary Comprehension with if conditional
odd_squares = {x: x*x for x in range(11) if x % 2 == 1}

print(odd_squares)

{1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

In [26]:
# Iterating through a Dictionary
squares = {1: 1, 3: 9, 5: 25, 7: 49, 9: 81}
for i in squares:
    print(squares[i])
for i in squares.values():
    print(i)

1
9
25
49
81
1
9
25
49
81

# Dictionary Built-in Functions
all()	Return True if all keys of the dictionary are True (or if the dictionary is empty).

any()	Return True if any key of the dictionary is true. If the dictionary is empty, return False.

len()	Return the length (the number of items) in the dictionary.

cmp()	Compares items of two dictionaries. (Not available in Python 3)

sorted()	Return a new sorted list of keys in the dictionary.

In [21]:
# Dictionary Built-in Functions
squares = {0: 0, 1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

# Output: False
print(all(squares))

# Output: True
print(any(squares))

# Output: 6
print(len(squares))

# Output: [0, 1, 3, 5, 7, 9]
print(sorted(squares))

False
True
6
[0, 1, 3, 5, 7, 9]

# Python Dictionary Methods
clear()	Removes all items from the dictionary.

copy()	Returns a shallow copy of the dictionary.

fromkeys(seq[, v])	Returns a new dictionary with keys from seq and value equal to v (defaults to None).

get(key[,d])	Returns the value of the key. If the key does not exist, returns d (defaults to None).

items()	Return a new object of the dictionary's items in (key, value) format.

keys()	Returns a new object of the dictionary's keys.

pop(key[,d])	Removes the item with the key and returns its value or d if key is not found. If d is not provided and the key is not found, it raises KeyError.

popitem()	Removes and returns an arbitrary item (key, value). Raises KeyError if the dictionary is empty.

setdefault(key[,d])	Returns the corresponding value if the key is in the dictionary. If not, inserts the key with a value of d and returns d (defaults to None).

update([other])	Updates the dictionary with the key/value pairs from other, overwriting existing keys.

values()	Returns a new object of the dictionary's values

In [16]:
# Dictionary Methods
marks = {}.fromkeys(['Math', 'English', 'Science'], 0)

# Output: {'English': 0, 'Math': 0, 'Science': 0}
print(marks)

for item in marks.items():
    print(item)

# Output: ['English', 'Math', 'Science']
print(list(sorted(marks.keys())))

{'Math': 0, 'English': 0, 'Science': 0}
('Math', 0)
('English', 0)
('Science', 0)
['English', 'Math', 'Science']

# užduotys su dictionary

In [40]:
car = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
print(car["brand"])
print(len(car))
car["year"]= 2022
print(car)
nauji_duomenys = {"color": "red", "used": True}
car.update(nauji_duomenys)
print(car)
car.pop("brand")
print(car)
car["year"]= None
print(car)

Ford
3
{'brand': 'Ford', 'model': 'Mustang', 'year': 2022}
{'brand': 'Ford', 'model': 'Mustang', 'year': 2022, 'color': 'red', 'used': True}
{'model': 'Mustang', 'year': 2022, 'color': 'red', 'used': True}
{'model': 'Mustang', 'year': None, 'color': 'red', 'used': True}

# Set

In [47]:
thisset = {"apple", "banana", "cherry"}
print(len(thisset))
"banana" in thisset
thisset.add("strawsberry")
print(thisset)
thisset.remove("banana")
print(thisset)

3
{'banana', 'strawsberry', 'cherry', 'apple'}
{'strawsberry', 'cherry', 'apple'}

In [45]:
set1 = {1, 1, 1, 1, 3, 4, 3, 5, "a", "c"}
print(set1) # atkreipti, kad dingo kiti vienetai, liko tik vienas vienetas. Set turi būti tik unikalūs, t. y. nesikartojantys nariai.

{'a', 1, 3, 4, 5, 'c'}

In [48]:
thisset = {"apple", "banana", "cherry"}
thisset.update({"strawsberry", "raspeberry"})
print(thisset)

{'cherry', 'banana', 'raspeberry', 'strawsberry', 'apple'}

In [50]:
thisset = {"apple", "banana", "cherry"}
thisset.update({"strawsberry", "raspeberry"})
print(thisset)
thisset.discard("apple") # discard nemeta klaidos, jei set nėra reikšmės, kurią norisi ištrinti. Tuo tarpu remove() tokiu atveju meta klaidą.
print(thisset)

{'cherry', 'banana', 'raspeberry', 'strawsberry', 'apple'}
{'cherry', 'banana', 'raspeberry', 'strawsberry'}

In [55]:
set1 = {1, 4, 3, 2}
print(set1)
set2 = {8, 6, 9, 7}
print(set2)
set1.union(set2)
print(set1.union(set2))
print(set1)

{1, 2, 3, 4}
{8, 9, 6, 7}
{1, 2, 3, 4, 6, 7, 8, 9}
{1, 2, 3, 4}

In [27]:
set1 = {1, 4, 3, 2}
print(set1)
set2 = {8, 6, 9, 7}
print(set2)
print(set1.difference(set2))
print(set2.difference(set1))

{1, 2, 3, 4}
{8, 9, 6, 7}
{1, 2, 3, 4}
{8, 9, 6, 7}

In [30]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}
# use symmetric_difference function on A
print(A.symmetric_difference(B)) # Symmetric Difference of A and B is a set of elements in A and B but not in both (excluding the intersection).


# use symmetric_difference function on B
print(B.symmetric_difference(A))

{1, 2, 3, 6, 7, 8}
{1, 2, 3, 6, 7, 8}

In [58]:
set1 = {1, 4, 3, 2, 6}
print(set1)
set2 = {8, 6, 9, 7}
print(set2)
print(set1.intersection(set2))

{1, 2, 3, 4, 6}
{8, 9, 6, 7}
{6}

In [60]:
set1 = {1, 2, 3}
print(set1)
set2 = {1, 2, 3, 4, 5, 6, 7, 8}
print(set2)
print(set1.issubset(set2))

{1, 2, 3}
{1, 2, 3, 4, 5, 6, 7, 8}
True

In [62]:
set1 = {1, 2, 3}
print(set1)
set2 = {1, 2, 3, 4, 5, 6, 7, 8}
print(set2)
print(set2.issubset(set1))
print(set2.issuperset(set1)) # ar set1 priklauso set2

{1, 2, 3}
{1, 2, 3, 4, 5, 6, 7, 8}
False
True

In [70]:
# kaip pakeisti set ką nors?
set1 = {1, 2, 3}
set1.remove(3)
print(set1)
set1.add(4)
print(set1)
# galime pakeisti, kai set konvertuojame į, pvz., list.
list1 = list(set1)
print(list1)
list1[0] = 0
print(list1)
set1 = set(list1)
print(set1)

{1, 2}
{1, 2, 4}
[1, 2, 4]
[0, 2, 4]
{0, 2, 4}

In [1]:
# Distinguish set and dictionary while creating empty set

# initialize a with {}
a = {}

# check data type of a
print(type(a))

# initialize a with set()
a = set()

# check data type of a
print(type(a))

<class 'dict'>
<class 'set'>

In [2]:
# set cannot have duplicates
# Output: {1, 2, 3, 4}
my_set = {1, 2, 3, 4, 3, 2}
print(my_set)

# we can make set from a list
# Output: {1, 2, 3}
my_set = set([1, 2, 3, 2])
print(my_set)

# set cannot have mutable items
# here [3, 4] is a mutable list
# this will cause an error.

my_set = {1, 2, [3, 4]}

{1, 2, 3, 4}
{1, 2, 3}

TypeError: unhashable type: 'list'

In [3]:
# Different types of sets in Python
# set of integers
my_set = {1, 2, 3}
print(my_set)

# set of mixed datatypes
my_set = {1.0, "Hello", (1, 2, 3)}
print(my_set)

{1, 2, 3}
{1.0, 'Hello', (1, 2, 3)}

In [ ]:
# Distinguish set and dictionary while creating empty set

# initialize a with {}
a = {}

# check data type of a
print(type(a))

# initialize a with set()
a = set()

# check data type of a
print(type(a))

In [4]:
# initialize my_set
my_set = {1, 3}
print(my_set)

# my_set[0]
# if you uncomment the above line
# you will get an error
# TypeError: 'set' object does not support indexing

# add an element
# Output: {1, 2, 3}
my_set.add(2)
print(my_set)

# add multiple elements
# Output: {1, 2, 3, 4}
my_set.update([2, 3, 4])
print(my_set)

# add list and set
# Output: {1, 2, 3, 4, 5, 6, 8}
my_set.update([4, 5], {1, 6, 8})
print(my_set)

{1, 3}
{1, 2, 3}
{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6, 8}

In [5]:
# initialize my_set
my_set = {1, 3, 4, 5, 6}
print(my_set)

# discard an element
# Output: {1, 3, 5, 6}
my_set.discard(4)
print(my_set)

# remove an element
# Output: {1, 3, 5}
my_set.remove(6)
print(my_set)

# discard an element
# not present in my_set
# Output: {1, 3, 5}
my_set.discard(2)
print(my_set)

# remove an element
# not present in my_set
# you will get an error.
# Output: KeyError

my_set.remove(2)

{1, 3, 4, 5, 6}
{1, 3, 5, 6}
{1, 3, 5}
{1, 3, 5}

KeyError: 2

In [7]:
# initialize my_set
# Output: set of unique elements
my_set = set("Hello World")
print(my_set)

# pop an element
# Output: random element
print(my_set.pop())

# pop another element
my_set.pop()
print(my_set)

# clear my_set
# Output: set()
my_set.clear()
print(my_set)

{'o', ' ', 'e', 'r', 'l', 'd', 'H', 'W'}
o
{'e', 'r', 'l', 'd', 'H', 'W'}
set()

In [11]:
# in keyword in a set
# initialize my_set
my_set = set("apple")

# check if 'a' is present
# Output: True
print('a' in my_set)

# check if 'p' is present
# Output: False
print('p' not in my_set)

True
False

In [14]:
for letter in set("apple"):
    print(letter)

a
p
e
l

# Built-in Functions with Set
all()	Returns True if all elements of the set are true (or if the set is empty).

any()	Returns True if any element of the set is true. If the set is empty, returns False.

enumerate()	Returns an enumerate object. It contains the index and value for all the items of the set as a pair.

len()	Returns the length (the number of items) in the set.

max()	Returns the largest item in the set.

min()	Returns the smallest item in the set.

sorted()	Returns a new sorted list from elements in the set(does not sort the set itself).

sum()	Returns the sum of all elements in the set.

# užduotys su set

In [89]:
thisset = {"apple", "banana", "cherry"}
list1 = list(thisset)
print(list1)
list1.append(("kiwi", 5))
print(list1)
thisset = set(list1)
print(thisset)

['banana', 'cherry', 'apple']
['banana', 'cherry', 'apple', ('kiwi', 5)]
{'banana', ('kiwi', 5), 'cherry', 'apple'}

In [92]:
thisset = {"apple", "banana", "cherry"}
print(thisset)
thisset.remove("apple")
print(thisset)
thisset.add("watermelon")
print(thisset)

{'banana', 'cherry', 'apple'}
{'banana', 'cherry'}
{'banana', 'watermelon', 'cherry'}

In [100]:
thisset = {"apple", "banana", "cherry"}
thisset.add("watermelon")
print(thisset)
thisset.update({"kiwi", "orange", "citrus", "grapes", "pear" })
print(thisset)
thisset.remove("apple")
print(thisset)
print(len(thisset))
print(thisset.add("cherry"))
print(thisset)
print(len(thisset))

{'banana', 'watermelon', 'cherry', 'apple'}
{'watermelon', 'cherry', 'pear', 'grapes', 'apple', 'kiwi', 'citrus', 'banana', 'orange'}
{'watermelon', 'cherry', 'pear', 'grapes', 'kiwi', 'citrus', 'banana', 'orange'}
8
None
{'watermelon', 'cherry', 'pear', 'grapes', 'kiwi', 'citrus', 'banana', 'orange'}
8