# isdigit()

In [11]:
sakinys = "Martynas Vaitkus bando programuoti su Python"
print (sakinys.isdigit())
1983
print ("1983".isdigit())
print ("1983 ".isdigit()) # tarpas yra po 1983
# sutvarkyti galima su funkcija "strip()". Pvz., 
print ("1983 ".strip ().isdigit())

False
True
False
True

# \n

In [182]:
text = "Hello\nworld\nworld"
print(text)
print (text.replace ("\n", ""))
print (text.replace ("\n", "  ").replace ("world", "hello"))

Hello
world
world
Helloworldworld
Hello  hello  hello

# upper lower capitalize count

In [214]:
text = "My name is Martynas, i live in Vilnius"
print (text)
print (text.find("Martynas"))
print (text [0:text.find("Martynas") + len ("Martynas")]) # šičia žiauriai gerai!!!
print (text. replace ("Martynas", "Jonas"))
text=text. replace ("Martynas", "Jonas")
print (text.upper())
print (text)
print ((text [:text.find("live") + len("live") + len("in Vilnius ")])+"\n"+ text.upper())
print (text)
print (len((text [:text.find("live") + len("live") + len("in Vilnius ")])) + len ("Jonas") + text.find ("Vilnius"))
print (text [:text.find("live") + len("live") + len("in Vilnius ")])

My name is Martynas, i live in Vilnius
11
My name is Martynas
My name is Jonas, i live in Vilnius
MY NAME IS JONAS, I LIVE IN VILNIUS
My name is Jonas, i live in Vilnius
My name is Jonas, i live in Vilnius
MY NAME IS JONAS, I LIVE IN VILNIUS
My name is Jonas, i live in Vilnius
68
My name is Jonas, i live in Vilnius

# Matematinės operacijos su tekstais

In [206]:
name = "Martynas"
surname = "Vaitkus"
number = 1983
print (name +" "+ surname + " "+ str (number) +", smagu susitikti!") # sudėtis, bet atimtis negalima. Str () konvertuoja skaičių į tekstą, ir galima sudėti.
print (name  * 10) # daugyba, bet dalyba negalima

Martynas Vaitkus 1983, smagu susitikti!
MartynasMartynasMartynasMartynasMartynasMartynasMartynasMartynasMartynasMartynas

# f-string

In [226]:
name = "Martynas"
surname = "Vaitkus"
number = 1983
print(f"{name} {surname. upper()} {number + 10}, nice to meet you!")

Martynas VAITKUS 1993, nice to meet you!

# Uždaviniai su "string"

In [227]:
name = "Martynas"
surname = "Vaitkus"
print(name, surname)

Martynas Vaitkus

In [230]:
sakinys = "Python makes me really really happy"
print (sakinys.upper())
print (sakinys.replace ("Python", "PyThOn"))

PYTHON MAKES ME REALLY REALLY HAPPY
PyThOn makes me really really happy

In [5]:
sakinys = "Hello world, i am happy to learn Python"
print (sakinys.find("happy"))
print (sakinys[18:sakinys.find("happy") + len("happy")])
print (sakinys[sakinys.find("happy"):sakinys.find("happy") + len("happy")]) # šitas irgi geras variantas
print (sakinys.find("to"))
print (sakinys[24:sakinys.find("to") + len("to")])
print (len(sakinys))

18
happy
happy
24
to
39

In [8]:
sakinys = "Hello world, i am happy to learn Python"
look_word = "happy"
print (sakinys[sakinys.find(look_word):sakinys.find(look_word) + len(look_word)]) # su look_word happy žodžio išgavimas

happy

# Number

In [2]:
number = 1983
float_nr= 1.983
print (type(number))
print (type(float_nr))

<class 'int'>
<class 'float'>

# operacijos su skaičiais

In [12]:

print (number + float_nr) # galima ir taip: suma (number + float_nr); print(suma) ir t.t.
print (type (number + float_nr))
print (f"{number + float_nr} yra {type(number + float_nr)}")
print (number - float_nr)
print (number * float_nr)
print (number / float_nr)

1984.983
<class 'float'>
1984.983 yra <class 'float'>
1981.017
3932.289
1000.0

In [21]:
number2 = 17
number3 = 5
print (number2//number3) # // jei norisi surasti sveikąją dalį

3

In [15]:
number2 = 21
number3 = 5
print (number2%number3) # % jei norisi surasti liekaną

1

In [32]:
number2 = 21
number3 = 5
print (number3 ** 2) # ** kai norisi pakalti laipsniu
print (number3 ** 3)
print (f"{number3 ** 3 +100} yra {type (number3 ** 3 +100)} ")

25
125
225 yra <class 'int'>

# užduotys su skaičiais

In [33]:
number2 = 21
number3 = 5
print (number2+number3)
print (number2-number3)
print (number2*number3)
print (number2/number3)
print (number2//number3)
print (number2%number3)

26
16
105
4.2
4
1

In [40]:
saule = 150000000 # kad būtų suprantamiau: saule = 150_000_000
moon = 384000
print (saule/moon)
print (f"Atstumas iki saulės yra {saule/moon} kartų didesnis nei iki mėnulio")
print (moon/150)
print ((moon/50)/24)
print (((moon/150)/24)/30)

390.625
Atstumas iki saulės yra 390.625 kartų didesnis nei iki mėnulio
2560.0
320.0
3.555555555555556

# Boolean deklaracija

In [42]:
bool_1 = True
bool_2 = False
print (type (bool_1))
number = 1
print (bool(number))

<class 'bool'>
True

In [50]:
print (2>4)
print (2<4)
print (2<4)
print (6<=6) # daugiau ar lygu
print (6 == 6) # lygybės ženklas naudajamas priskiriant reikšmę, o == naudojamas būtent lygybei.
print (4!=2) # != naudojamas patikrinant ar kas nors yra nelygi.
print (4!=4)

False
True
True
True
True
True
False

In [58]:
tekstas = "Hello world"
bool_1 = "Hello" in tekstas
print (bool_1)
bool_1 = "b" in tekstas
print (bool_1)

True
False

In [61]:
print (bool ("")) # tuščias tekstas, nes tarp kabučių nėra nieko, net tarpo.
print (bool (" ")) # atsirado tarpas, o tai jau tekstinis simbolis, tad true.
print (bool (" Hello "))

False
True
True

In [65]:
print (True)
print (not True)
print (not not True)

True
False
True

In [83]:
print (20>10)
print (20>10 and 45>1 and 1>4)
print (20>10 and 45>1 and 5>4)
print (20>10 and 45>1 and 5>4 or 4<3)
print (5>4 or 4<3)
print (5<4 or 4<3)
("hello" in "Hello world" and 4>3) or 5<5 # atkreipti, kad "hello" iš mažosios raidės

True
False
True
True
True
False

False

# boolean deklaracijos užduotys

In [87]:
print (5>3)
text= "hello world"
"hello" in "hello world"
number_1 = 2
print (bool (number_1))
print (5>4 and 3>2)
print (4 == 4)
print (5>4 or 3>2)

True
True
True
True
True

In [94]:
number_1 = 0
print (bool(number_1))
"Martynas" in "Jonas neturi noro dirbti su Java programa"

False

False

 # List

In [108]:
vardai = ["Martynas", "Jonas", "Tomas"]
print (vardai)
print (vardai[0])
print (vardai[-1])
print (vardai[:2]) # verta pastebėti, kaip su slicingu dirbama "list" kontekste.
print (len(vardai))
print ("Martynas" in vardai)
print (type(vardai[:2]))

['Martynas', 'Jonas', 'Tomas']
Martynas
Tomas
['Martynas', 'Jonas']
3
True
<class 'list'>

In [126]:
list_2 = [1.56, "Vilnius", 3]
print (type(list_2[0]))
print (type(list_2[1]))
print (type(list_2[2]))
print (len(list_2))
print (list_2[0:3])

<class 'float'>
<class 'str'>
<class 'int'>
3
[1.56, 'Vilnius', 3]

In [128]:
list_2 = [1.56, "Vilnius", 3]
print (len(list_2[-2]))

7

In [140]:
list_2 = [1.56, "Vilnius", 3]
list_2.append(500)
list_2.append(500)
list_2.append(500)
list_2.append("Kaunas")
print(list_2)

[1.56, 'Vilnius', 3, 500, 500, 500, 'Kaunas']

In [146]:
list_2.append("Kaunas") # verta pastebėti, kad nuolat iš naujo paleidus, pridedamas "Kaunas" į sąrašą. Pakeičia originalų sąrašą.
print(list_2)

[1.56, 'Vilnius', 3, 500, 500, 500, 'Kaunas', 'Kaunas', 'Kaunas', 'Kaunas', 'Kaunas', 'Kaunas', 'Kaunas']

In [151]:
list_2 = [1.56, "Vilnius", 3]
print (list_2.count("Vilnius"))

1

In [159]:
list_2 = [1.56, "Vilnius", 3]
list_2.insert(1, 50)
print(list_2.insert(1, 50)) # none nurodo, jog vis tiek sąrašas pasikeitė insert pagrindu, padaryk print(list_2), pamatysi.

None

In [176]:
list_2 = [1.56, "Vilnius", 3]
print(type(list_2[0]))
print(list_2)
print(list_2.pop())
print(list_2)
list_2.append(3)
print(list_2)
print(list_2.pop(1))
print(list_2)
print(type(list_2[0]))

<class 'float'>
[1.56, 'Vilnius', 3]
3
[1.56, 'Vilnius']
[1.56, 'Vilnius', 3]
Vilnius
[1.56, 3]
<class 'float'>

In [185]:
list_2 = [1.56, "Vilnius", 3]
print(list_2.remove("Vilnius"))
print(list_2)

None
[1.56, 3]

In [200]:
list_2 = [1.56, "Vilnius", 3]
list_2.extend([999, 999])
print(list_2)
list_2.append([999, 999]) # verta pastebėti skirtumus tarp extend ir append.
print(list_2)
print (list_2[-1])
print(type(list_2[-1]))
print(len(list_2[-1]))
print(list_2.pop())
print(list_2.pop(1))
print(list_2)
print(list_2[-1])
print(list_2)

[1.56, 'Vilnius', 3, 999, 999]
[1.56, 'Vilnius', 3, 999, 999, [999, 999]]
[999, 999]
<class 'list'>
2
[999, 999]
Vilnius
[1.56, 3, 999, 999]
999
[1.56, 3, 999, 999]

In [5]:
list_2 = [1.56, "Vilnius", 3]
list_2.reverse()
print (list_2)
print(list_2[::-1]) # bet galima ir tokia forma apversti

[3, 'Vilnius', 1.56]
[1.56, 'Vilnius', 3]

In [11]:
list_2 = [1.56, 5, 3, 6]
list_2.sort()
print(list_2)
list_2.sort(reverse=True)
print(list_2)

[1.56, 3, 5, 6]
[6, 5, 3, 1.56]

In [26]:
miestai = ["Vilnius", "Kaunas","Pasvalys"]
print(miestai)
miestai[2] = "Palanga"
print(miestai)
miestai.append("Pasvalys")
print(miestai)
print(bool([]))
print(bool(miestai))

['Vilnius', 'Kaunas', 'Pasvalys']
['Vilnius', 'Kaunas', 'Palanga']
['Vilnius', 'Kaunas', 'Palanga', 'Pasvalys']
False
True

In [28]:
miestai = ["Vilnius", "Kaunas","Pasvalys"]
vardai = ["Martynas", "Jonas", "Tadas"]
print(miestai + vardai)
print(miestai * 2)

['Vilnius', 'Kaunas', 'Pasvalys', 'Martynas', 'Jonas', 'Tadas']
['Vilnius', 'Kaunas', 'Pasvalys', 'Vilnius', 'Kaunas', 'Pasvalys']

# List užduotys

In [32]:
miestai = ["Vilnius", "Kaunas", "Pasvalys"]
print(len(miestai))
miestai.append("Palanga")
print (miestai)
"Vilnius" in miestai

3
['Vilnius', 'Kaunas', 'Pasvalys', 'Palanga']

True

In [37]:
numbers_1 = [5, 7, 3, 66, 32.3, 8]
numbers_2 = [2, 9, 6, 5]
suma = numbers_1 + numbers_2
print(suma)
suma.pop()
print(suma)
suma.sort()
print(suma)
print(suma.count (5))

[5, 7, 3, 66, 32.3, 8, 2, 9, 6, 5]
[5, 7, 3, 66, 32.3, 8, 2, 9, 6]
[2, 3, 5, 6, 7, 8, 9, 32.3, 66]
1