# list/ mutable and immutable variables

In [2]:
# immutable variables
a = 1
b = a
print(id(a))
print(id(b))
b += 5
print(a)
print(b)
print(id(a))
print(id(b))

4395548912
4395548912
1
6
4395548912
4395549072

In [4]:
# mutable variables, kai kalbama apie "List"
a = [1, 2, 3,]
b = a
print(id(a))
print(id(b))
b.append(4)
print((a))
print((b))
print(id(a))
print(id(b))

4521921024
4521921024
[1, 2, 3, 4]
[1, 2, 3, 4]
4521921024
4521921024

In [4]:
# fixing mutable variables #1
a = [1, 2, 3] 
b = a.copy() # "copy" reiškia, jog padaroma "negyli" (shallow) sąrašo "a" kopija
print(id(a))
print(id(b))
b.append(10)
print(id(a))
print(id(b))
print((a))
print((b))

4543886464
4544006784
4543886464
4544006784
[1, 2, 3]
[1, 2, 3, 10]

In [8]:
# where fix #1 does not work
a = [1, 2, ["a", "b"] ]
b = a.copy() 
print((a))
print((b))
print(id(a))
print(id(b))
b [-1].append("c")
print(id(a)) #matome, kad "a" ir "b" kintamųjų adresai yra skirtingi, bet prie abiejų sąrašų buvo pridėta raidė "c". "a" ir "b" yra surišti.
# paaiškinimas toks: "copy" nukopijuoja tik viršutinį sąrašą, tačiau jei to sąrašo viduje yra dar vienas sąrašas, tai pastarojo kopijos nepadaro.
print(id(b))
print((a))
print((b))

[1, 2, ['a', 'b']]
[1, 2, ['a', 'b']]
4544001984
4544006784
4544001984
4544006784
[1, 2, ['a', 'b', 'c']]
[1, 2, ['a', 'b', 'c']]

In [11]:
# fixing mutable variables #2
import copy # import komanda reiškia, kad "atsinešame" biblioteką, kurioje yra funkcijos (šiuo atveju biblioteka yra "copy", o per tašką pasiekiame visą copy biliotekos funkcijų sąrašą(pvz., "deepcopy"))
a = [1, 2, ["a", "b"]]
b = copy.deepcopy(a) # "deepcopy" reiškia, kad nukopijuos viskas, kas bus pateikta.
print(id(a))
print(id(b))
b [-1].append("c")
print(id(a))
print(id(b))
print((a))
print((b))

4544100608
4544102336
4544100608
4544102336
[1, 2, ['a', 'b']]
[1, 2, ['a', 'b', 'c']]

# tuple

In [16]:
tuple1 = ("Vilnius", "Kaunas","Pasvalys")
tuple2 = (1, 2, 3, 4)
tuple3 = tuple1 + tuple2
print (tuple3)
print(len(tuple3))
print(tuple3.index("Kaunas"))
print(tuple3[0:2])
print(tuple3.count("Vilnius"))
print ("Vilnius" in tuple3)

('Vilnius', 'Kaunas', 'Pasvalys', 1, 2, 3, 4)
7
1
('Vilnius', 'Kaunas')
1
True

In [70]:
my_tuple = ("hello")
print(type(my_tuple))  # <class 'str'>

# Creating a tuple having one element
my_tuple = ("hello",)
print(type(my_tuple))  # <class 'tuple'>

# Parentheses is optional
my_tuple = "hello",
print(type(my_tuple))  # <class 'tuple'>

<class 'str'>
<class 'tuple'>
<class 'tuple'>

In [72]:
# Accessing tuple elements using slicing
my_tuple = ('p','r','o','g','r','a','m','i','z')
# elements beginning to end
# Output: ('p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z')
print(my_tuple[:])

('p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z')

In [73]:
# Concatenation
# Output: (1, 2, 3, 4, 5, 6)
print((1, 2, 3) + (4, 5, 6))

# Repeat
# Output: ('Repeat', 'Repeat', 'Repeat')
print(("Repeat",) * 3)

(1, 2, 3, 4, 5, 6)
('Repeat', 'Repeat', 'Repeat')

In [62]:
tuple1 = ("Vilnius", "Kaunas","Pasvalys")
print(tuple1)
print(type(tuple1))
print(tuple1 + ("Palanga", "Nida"))
print(tuple1 [0:1] + ("Palanga", "Nida") + tuple1 [1:3])
print(tuple1)
tuple1 = tuple1 + ("Palanga", "Nida")
print(tuple1)
print (tuple1[4])
print(tuple1[2:4])

('Vilnius', 'Kaunas', 'Pasvalys')
<class 'tuple'>
('Vilnius', 'Kaunas', 'Pasvalys', 'Palanga', 'Nida')
('Vilnius', 'Palanga', 'Nida', 'Kaunas', 'Pasvalys')
('Vilnius', 'Kaunas', 'Pasvalys')
('Vilnius', 'Kaunas', 'Pasvalys', 'Palanga', 'Nida')
Nida
('Pasvalys', 'Palanga')

In [28]:
tuple1 = ("Vilnius", "Kaunas","Pasvalys")
print(tuple1.count("Vilnius"))

1

In [29]:
tuple1 = ("Vilnius", "Kaunas","Pasvalys")
print(tuple1)
print(tuple1.index ("Kaunas"))
print(tuple1.index("Pasvalys"))

('Vilnius', 'Kaunas', 'Pasvalys')
1
2

In [29]:
tuple1 = ("Vilnius", "Kaunas","Pasvalys")
print(tuple1)
print(len(tuple1))
print("Vilnius" in tuple1)

('Vilnius', 'Kaunas', 'Pasvalys')
3
True

# užduotys su tuple

In [3]:
my_tuple = (1, 2, ['3', 4, 5], [6, [7, 8]])
print(my_tuple)
print(my_tuple[-2])
print(my_tuple[-2][1])
print(my_tuple[-1])
print(my_tuple[-1][1])
print(my_tuple[-1][1][1])

(1, 2, ['3', 4, 5], [6, [7, 8]])
['3', 4, 5]
4
[6, [7, 8]]
[7, 8]
8

In [11]:

tuple1 = (11, [222, 33], 44, 55)
tuple1 = list(tuple1)
print(tuple1)
tuple1[1]=[222,22]
print(tuple1)
tuple1 = tuple(tuple1)
print(tuple1)

[11, [222, 33], 44, 55]
[11, [222, 22], 44, 55]
(11, [222, 22], 44, 55)

In [9]:
tuple1 = (11, [222, 33], 44, 55)
print(tuple1 [1])
tuple1[1][1] = 22
print(tuple1)

[222, 33]
(11, [222, 22], 44, 55)

In [4]:
tuple1 = (66, 34, 76)
tuple2 = (5, 1, 78, 35)
tuple3 = tuple1 + tuple2
print (tuple3)
tuple3 = list(tuple3)
print(tuple3)
print(tuple3.pop())
print(tuple3)
tuple3.sort()
print(tuple3)
tuple3 = tuple(tuple3)
print(tuple3)
print(tuple3.count(5))

(66, 34, 76, 5, 1, 78, 35)
[66, 34, 76, 5, 1, 78, 35]
35
[66, 34, 76, 5, 1, 78]
[1, 5, 34, 66, 76, 78]
(1, 5, 34, 66, 76, 78)
1

# Range

In [1]:
print(range(10)) # norint išgauti visą skaičių seką, reikia "range" konvertuoti į kitą duomenų tipą, pvz., "list"
print(list(range(10))) # pastebėk, kaip seka prasideda ir kaip baigiasi
print(list(range(5, 10)))
print(list(range(5, 10, 2)))

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[5, 6, 7, 8, 9]
[5, 7, 9]

In [2]:
range(100, -50, 15)
print(list(range(100, -50, -15)))

[100, 85, 70, 55, 40, 25, 10, -5, -20, -35]

In [8]:
number = range(10)
list1=[]
for x in number:
    print(x)
    list1.append(x)
print(list1)

0
1
2
3
4
5
6
7
8
9
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [12]:
for x in range(2, 6):
    print(x, "eurai")

2 eurai
3 eurai
4 eurai
5 eurai

In [5]:
number = range(10)
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# for loop deklaracija

In [16]:
digits = [0, 1, 5]

for i in digits:
    print(i)
else:
    print("No items left.")

0
1
5
No items left.

In [15]:
# Program to iterate through a list using indexing

genre = ['pop', 'rock', 'jazz']

# iterate over the list using index
for i in range(len(genre)):
    print("I like", genre[i])

I like pop
I like rock
I like jazz

In [8]:
miestai = ["Vilnius", "Kaunas", "Pasvalys"]
for x in miestai:
    print(x)
    print (f"{x} yra gražus miestas")

Vilnius
Vilnius yra gražus miestas
Kaunas
Kaunas yra gražus miestas
Pasvalys
Pasvalys yra gražus miestas

In [9]:
miestai = ["Vilnius", "Kaunas", "Pasvalys"]
for x in miestai:
    print (f"{x} yra gražus miestas")

Vilnius yra gražus miestas
Kaunas yra gražus miestas
Pasvalys yra gražus miestas

In [72]:
miestai = ["Vilnius", "Kaunas", "Pasvalys"]
for miestas in miestai:
    print(miestas)
    print("praejo viennas ciklas")
print("pabaiga")

Vilnius
praejo viennas ciklas
Kaunas
praejo viennas ciklas
Pasvalys
praejo viennas ciklas
pabaiga

In [11]:
for x in range (10, 20, 2):
    print(x)

10
12
14
16
18

In [17]:
sarašas = [1, 2, 3]
for x in sarašas:
    suma = x+1
    print(suma)

2
3
4

In [7]:
sarašas = [1, 2, 3]
suma= x+1
for x in sarašas:
    print(x)
    print(suma)

1
4
2
4
3
4

In [19]:
sarašas = [1, 2, 3]
for x in sarašas:
    x+=2
    print(x)

3
4
5

In [6]:
sarašas = [1,2,3]
for x in sarašas:
    suma=1
    suma+=x
    print(suma)

2
3
4

In [5]:

sarašas = [1,2,3]
suma=1
for x in sarašas:
    suma+=x
    print(suma)

2
4
7

In [12]:
sarašas = [165, 489, 432]
suma = 0
for skaicius in sarašas:
    suma+=skaicius
    print(suma)
print(f"galutine suma: {suma}")

165
654
1086
galutine suma: 1086

In [11]:
input ("įrašykite skaičių")
ivestis = input ("įrašykite skaičių")
print(ivestis)

5

# užduotys su for loop deklaracija

In [15]:
range(0, 11)
for x in range(0, 11):
    print(x)

0
1
2
3
4
5
6
7
8
9
10

In [19]:
range(0, 51)
print(sum(range(0, 51)))

1275

In [8]:
suma = 0
for x in range(0, 51):
    suma = suma+x
print(suma)

1275

In [10]:
įvestis = int(input ())
sarasas = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
for x in sarasas:
    rezultatas = įvestis * x
    print(rezultatas)

2
4
6
8
10
12
14
16
18
20

In [26]:
įvestis = int(input ())
for x in range(1, 11):
    print(įvestis * x)

2
4
6
8
10
12
14
16
18
20

In [5]:
dienos = ("pirmadienis", "antradienis", "trečiadienis")
valandos = [10, 11, 12]
list1 = []
for x in dienos:
    for y in valandos:
        print(f"{x} {y}") # arba print(x, y)
        list1.append(f"{x} {y}")
print(list1)

pirmadienis 10
pirmadienis 11
pirmadienis 12
antradienis 10
antradienis 11
antradienis 12
trečiadienis 10
trečiadienis 11
trečiadienis 12
['pirmadienis 10', 'pirmadienis 11', 'pirmadienis 12', 'antradienis 10', 'antradienis 11', 'antradienis 12', 'trečiadienis 10', 'trečiadienis 11', 'trečiadienis 12']

# if deklaracija

In [62]:
age = int(input ("įrašykite amžių:"))
if age >= 18:
    print(f"Jūs esate pilnametis, nes jums yra {age} metų.")
elif age > 12:
    print ("Jums yra tarp dvylikos ir aštuoniolikow metų.")
elif age<5:
    print("Jums yra iki penkių metų")
else:
    print(f"Jūs esate nepilnametis, nes jums yra {age} metų.")

Jūs esate nepilnametis, nes jums yra 8 metų.

In [67]:
x = int(input ("įrašykite skaičių:"))
if x % 2 == 0:
    print ("lyginis skaičius")
    x /= 2
else:
    print("nelyginis skaičius")
    x *= 2
print(x)

lyginis skaičius
4.0

In [6]:
x = int(input ("įrašykite skaičių:")) # 11 buvo
y = int(input ("įrašykite kitą skaičių:")) # 4 buvo

if x % 2 == 0:
    print ("lyginis skaičius")
    x /= 2
    if y >= 10:
        y = y*x
    else:
        y = y - 2
else:
    print("nelyginis skaičius")
    x *= 4
    if y >= 20:
        y = y / x
    else:
        y = y + 5
print(x)
print(y)

nelyginis skaičius
44
9

In [41]:
# program to display student's marks from record
student_name = 'James'

marks = {'James': 90, 'Jules': 55, 'Arthur': 77}

for student in marks:
    if student == student_name:
        print(marks[student])
        break # This for...else statement can be used with the break keyword to run the else block only when the break keyword was not executed.
else:
    print('No entry with that name found.')

90

In [23]:
num = -2
if num>=0:
    print(num,  "is positive")
else:
    print (num,  "is negative")

-2 is negative

In [20]:
'''In this program, 
we check if the number is positive or
negative or zero and 
display an appropriate message'''

num = -2

# Try these two variations as well:
# num = 0
# num = -4.5

if num > 0:
    print("Positive number")
elif num == 0:
    print("Zero")
else:
    print("Negative number")

Negative number

In [24]:
'''In this program, we input a number
check if the number is positive or
negative or zero and display
an appropriate message
This time we use nested if statement'''

num = float(input("Enter a number: "))
if num >= 0:
    if num == 0:
        print("Zero")
    else:
        print("Positive number")
else:
    print("Negative number")

Positive number