# List comprehension

In [5]:
range(1,21)
dalinasiiš3 = []
for x in range(1, 21):
    if (x % 3) == 0:
        dalinasiiš3.append(x)
print(dalinasiiš3)
# visa tai galima perteikti ir viena eilute. Žiūrėti apačioje:)

[3, 6, 9, 12, 15, 18]

In [11]:
y = [x * 2 for x in range(1, 21)]
print(y)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40]

In [13]:
dalinasiiš3 = [x for x in range(1, 21) if x % 3 ==0]
print(dalinasiiš3)

[3, 6, 9, 12, 15, 18]

In [14]:
dalinasiiš3 = [x if x % 3 ==0 else "nesidalina" for x in range(1, 21) ]
print(dalinasiiš3)

['nesidalina', 'nesidalina', 3, 'nesidalina', 'nesidalina', 6, 'nesidalina', 'nesidalina', 9, 'nesidalina', 'nesidalina', 12, 'nesidalina', 'nesidalina', 15, 'nesidalina', 'nesidalina', 18, 'nesidalina', 'nesidalina']

# None deklaracija

In [1]:
niekas = None
print(type(niekas))

<class 'NoneType'>

In [2]:
list_1 = [1, 2, 3, 4, ]
print(list_1.sort()) # atmintyje yra įrašomas rikiavimas, o grąžina None. Jei print(list_1), tai atspausdins jau išrikiuotą sąrašą.

None

In [3]:
#name = ""
#name=input ("koks tavo vardas?")
#if name == "Jonas":
#    print("sveikas, Jonai!")

name = None
name1=input ("koks tavo vardas?")
if name1 == "":
    name1=input("neįrašėte vardo, tai koks jūsų vardas?")
print(f"vardas yra {name}")
if name1 != "":
    name=name1
print(f"vardas yra {name}")

vardas yra None
vardas yra Nida

# Dictionary

In [16]:
me = {
    "vardas" : "Jonas",
    "amzius" : 26
}
print(me)
print(me ["vardas"])
print(len(me))
print(me.keys())
me["hobiai"] = ["fotografavimas", "muzika" ]
print(me)
me["amzius"] = 27
print(me)
print(type(me["hobiai"]))

{'vardas': 'Jonas', 'amzius': 26}
Jonas
2
dict_keys(['vardas', 'amzius'])
{'vardas': 'Jonas', 'amzius': 26, 'hobiai': ['fotografavimas', 'muzika']}
{'vardas': 'Jonas', 'amzius': 27, 'hobiai': ['fotografavimas', 'muzika']}
<class 'list'>

In [15]:
someone = {
    "True": "tiesa",
    "False": "false",
    5: "penki"
}
print(someone["True"])
print(someone[5])

tiesa
penki

In [25]:
žmonės = [
    {"vardas": "Jonas",
    "pavardė": "Jonaitis"},
    {"vardas": "Petras",
    "pavardė": "Petraitis" }
]
print(žmonės)
žmonės[0]["vardas"] = "Martynas"
print(žmonės[0]["vardas"])
print(žmonės)
for vardai in žmonės:
    print(vardai ["vardas"])

[{'vardas': 'Jonas', 'pavardė': 'Jonaitis'}, {'vardas': 'Petras', 'pavardė': 'Petraitis'}]
Martynas
[{'vardas': 'Martynas', 'pavardė': 'Jonaitis'}, {'vardas': 'Petras', 'pavardė': 'Petraitis'}]
Martynas
Petras

In [4]:
me = {
    "vardas" : "Jonas",
    "amzius" : 26
}
print(me)
print(me ["vardas"])
print(len(me))
print(me.keys())
me["hobiai"] = ["fotografavimas", "muzika" ]
print(me)
me["amzius"] = 27
print(me)
print(len(me))

{'vardas': 'Jonas', 'amzius': 26}
Jonas
2
dict_keys(['vardas', 'amzius'])
{'vardas': 'Jonas', 'amzius': 26, 'hobiai': ['fotografavimas', 'muzika']}
{'vardas': 'Jonas', 'amzius': 27, 'hobiai': ['fotografavimas', 'muzika']}
3

In [6]:
print(me)
me.clear() # ištrina viską, jei norisi ištrinti konkrečiai ką nors, naudoti del
print(me)

{'vardas': 'Jonas', 'amzius': 27, 'hobiai': ['fotografavimas', 'muzika']}
{}

In [8]:
me = {'vardas': 'Jonas', 'amzius': 27, 'hobiai': ['fotografavimas', 'muzika']}
print(me)
del me["hobiai"]
print(me)

{'vardas': 'Jonas', 'amzius': 27, 'hobiai': ['fotografavimas', 'muzika']}
{'vardas': 'Jonas', 'amzius': 27}

In [11]:
me = {'vardas': 'Jonas', 'amzius': 27, 'hobiai': ['fotografavimas', 'muzika']}
print(me)
me.pop("vardas")
print(me)

{'vardas': 'Jonas', 'amzius': 27, 'hobiai': ['fotografavimas', 'muzika']}
{'amzius': 27, 'hobiai': ['fotografavimas', 'muzika']}

In [16]:
me = {'vardas': 'Jonas', 'amzius': 27, 'hobiai': ['fotografavimas', 'muzika']}
print(me)
print(me.popitem()) #popitem savo nuožiūra (gal paskutinį) ištrina vieną narį ir jį pateikia. Atkreipti dėmesį, kad pateikia paprastais skliaustais ().
print(me)

{'vardas': 'Jonas', 'amzius': 27, 'hobiai': ['fotografavimas', 'muzika']}
('hobiai', ['fotografavimas', 'muzika'])
{'vardas': 'Jonas', 'amzius': 27}

In [22]:
me = {'vardas': 'Jonas', 'amzius': 27, 'hobiai': ['fotografavimas', 'muzika']}
print(me)
#print(me["neegzistuojantys dalykai"]) # išmeta klaidą
print(me.get("neegzistuojantys dalykai")) # nemeta klaidos
print(me.get("neegzistuojantys dalykai", "nerastas")) 
print(me.get("hobiai"))

{'vardas': 'Jonas', 'amzius': 27, 'hobiai': ['fotografavimas', 'muzika']}
None
nerastas
['fotografavimas', 'muzika']

In [23]:
me = {'vardas': 'Jonas', 'amzius': 27, 'hobiai': ['fotografavimas', 'muzika']}
print(me)
nauji_duomenys = {"amzius": 28, "hobiai": ['fotografavimas', 'muzika', 'rankinis']}
me.update(nauji_duomenys)
print(me)

{'vardas': 'Jonas', 'amzius': 27, 'hobiai': ['fotografavimas', 'muzika']}
{'vardas': 'Jonas', 'amzius': 28, 'hobiai': ['fotografavimas', 'muzika', 'rankinis']}

In [33]:
me = {'vardas': 'Jonas', 'amzius': 27, 'hobiai': ['fotografavimas', 'muzika']}
print(me)
for value in me.values():
    print(value)
for key in me.keys():
    print(key)

{'vardas': 'Jonas', 'amzius': 27, 'hobiai': ['fotografavimas', 'muzika']}
Jonas
27
['fotografavimas', 'muzika']
vardas
amzius
hobiai

In [31]:
me = {'vardas': 'Jonas', 'amzius': 27, 'hobiai': ['fotografavimas', 'muzika']}
print(me)
for key, value in me.items():
    print(f" key is {key} and value is {value}")

{'vardas': 'Jonas', 'amzius': 27, 'hobiai': ['fotografavimas', 'muzika']}
 key is vardas and value is Jonas
 key is amzius and value is 27
 key is hobiai and value is ['fotografavimas', 'muzika']

# užduotys su dictionary

In [40]:
car = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
print(car["brand"])
print(len(car))
car["year"]= 2022
print(car)
nauji_duomenys = {"color": "red", "used": True}
car.update(nauji_duomenys)
print(car)
car.pop("brand")
print(car)
car["year"]= None
print(car)

Ford
3
{'brand': 'Ford', 'model': 'Mustang', 'year': 2022}
{'brand': 'Ford', 'model': 'Mustang', 'year': 2022, 'color': 'red', 'used': True}
{'model': 'Mustang', 'year': 2022, 'color': 'red', 'used': True}
{'model': 'Mustang', 'year': None, 'color': 'red', 'used': True}

# Set

In [47]:
thisset = {"apple", "banana", "cherry"}
print(len(thisset))
"banana" in thisset
thisset.add("strawsberry")
print(thisset)
thisset.remove("banana")
print(thisset)

3
{'banana', 'strawsberry', 'cherry', 'apple'}
{'strawsberry', 'cherry', 'apple'}

In [45]:
set1 = {1, 1, 1, 1, 3, 4, 3, 5, "a", "c"}
print(set1) # atkreipti, kad dingo kiti vienetai, liko tik vienas vienetas. Set turi būti tik unikalūs, t. y. nesikartojantys nariai.

{'a', 1, 3, 4, 5, 'c'}

In [48]:
thisset = {"apple", "banana", "cherry"}
thisset.update({"strawsberry", "raspeberry"})
print(thisset)

{'cherry', 'banana', 'raspeberry', 'strawsberry', 'apple'}

In [50]:
thisset = {"apple", "banana", "cherry"}
thisset.update({"strawsberry", "raspeberry"})
print(thisset)
thisset.discard("apple") # discard nemeta klaidos, jei set nėra reikšmės, kurią norisi ištrinti. Tuo tarpu remove() tokiu atveju meta klaidą.
print(thisset)

{'cherry', 'banana', 'raspeberry', 'strawsberry', 'apple'}
{'cherry', 'banana', 'raspeberry', 'strawsberry'}

In [55]:
set1 = {1, 4, 3, 2}
print(set1)
set2 = {8, 6, 9, 7}
print(set2)
set1.union(set2)
print(set1.union(set2))
print(set1)

{1, 2, 3, 4}
{8, 9, 6, 7}
{1, 2, 3, 4, 6, 7, 8, 9}
{1, 2, 3, 4}

In [56]:
set1 = {1, 4, 3, 2}
print(set1)
set2 = {8, 6, 9, 7}
print(set2)
print(set1.difference(set2))

{1, 2, 3, 4}
{8, 9, 6, 7}
{1, 2, 3, 4}