# list/ mutable and immutable variables

In [3]:
# immutable variables
a = 1
b = a
print(id(a))
print(id(b))
b += 5
print(id(a))
print(id(b))
miestai = ["Vilnius", "Kaunas","Pasvalys"]

4457922800
4457922800
4457922800
4457922960

In [6]:
# mutable variables
a = [1, 2, 3,]
b = a
print(id(a))
print(id(b))
b.append(10)
print(id(a))
print(id(b))
print((a))
print((b))

4583727552
4583727552
4583727552
4583727552
[1, 2, 3, 10]
[1, 2, 3, 10]

In [7]:
# fixing mutable variables #1
a = [1, 2, 3,]
b = a.copy()
print(id(a))
print(id(b))
b.append(10)
print(id(a))
print(id(b))
print((a))
print((b))

4583728000
4583593024
4583728000
4583593024
[1, 2, 3]
[1, 2, 3, 10]

In [9]:
# where fix #1 does not work

In [10]:
# fixing mutable variables #2
import copy
a = [1, 2, 3,]
b = copy.deepcopy(a)
print(id(a))
print(id(b))
b.append(10)
print(id(a))
print(id(b))
print((a))
print((b))

4583726400
4583696192
4583726400
4583696192
[1, 2, 3]
[1, 2, 3, 10]

# tuple

In [44]:
tuple1 = ("Vilnius", "Kaunas","Pasvalys")
tuple2 = (1, 2, 3, 4)
tuple3 = tuple1 + tuple2
print (tuple3)
tuple3 = tuple3 + (10, 15)
print(tuple3)
print(tuple3[0:2])
print(tuple3.count("Vilnius"))
print (tuple3)

('Vilnius', 'Kaunas', 'Pasvalys', 1, 2, 3, 4)
('Vilnius', 'Kaunas', 'Pasvalys', 1, 2, 3, 4, 10, 15)
('Vilnius', 'Kaunas')
1
('Vilnius', 'Kaunas', 'Pasvalys', 1, 2, 3, 4, 10, 15)
[222, 33]

In [23]:
tuple1 = ("Vilnius", "Kaunas","Pasvalys")
print(tuple1)
print(tuple1.index ("Kaunas"))

('Vilnius', 'Kaunas', 'Pasvalys')
1

In [29]:
tuple1 = ("Vilnius", "Kaunas","Pasvalys")
print(tuple1)
print(len(tuple1))
print("Vilnius" in tuple1)

('Vilnius', 'Kaunas', 'Pasvalys')
3
True

In [46]:
my_tuple = (1, 2, ['3', 4, 5], [6, [7, (8)]])
print(my_tuple[3])
print(len(my_tuple[3]))
print(my_tuple[3][1] [1])

[6, [7, 8]]
2
8

In [58]:
tuple1 = (66, 34, 76)
tuple2 = (5, 1, 78, 35)
tuple3 = tuple1 + tuple2
print (tuple3)
print(tuple3[-1])
print(tuple3[::-1])
print(tuple3.count(3))
print(tuple3.index(78))
print(tuple3[5])

(66, 34, 76, 5, 1, 78, 35)
35
(35, 78, 1, 5, 76, 34, 66)
0
5
78

# Range

In [63]:
print(range(10))
print(list(range(10)))
print(list(range(5, 10)))
print(list(range(5, 10, 3)))
print(list(range(100, -50, -15)))

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[5, 6, 7, 8, 9]
[5, 8]
[100, 85, 70, 55, 40, 25, 10, -5, -20, -35]

# for loop deklaracija

In [72]:
miestai = ["Vilnius", "Kaunas", "Pasvalys"]
for miestas in miestai:
    print(miestas)
    print("praejo viennas ciklas")
print("pabaiga")

Vilnius
praejo viennas ciklas
Kaunas
praejo viennas ciklas
Pasvalys
praejo viennas ciklas
pabaiga

In [73]:
for number in range (1, 34, 3):
    print (number)

1
4
7
10
13
16
19
22
25
28
31

In [74]:
sarašas = [165, 489, 432]
suma = 0
for skaicius in sarašas:
    suma+=skaicius
    print(suma)
print(f"galutine suma: {suma}")

165
654
1086
galutine suma: 1086

In [ ]:
input()

In [79]:

print(range(0,11))
for x in range(0,11):
    print(x)

range(0, 11)
0
1
2
3
4
5
6
7
8
9
10

In [26]:
ivestis = input ("pasirinkite skaiciu")
sarasas = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

for x in sarasas:
    x*=int(ivestis)
    print(x)

8
16
24
32
40
48
56
64
72
80

In [9]:
sarašas = [165, 489, 432]
suma = 0
for skaicius in sarašas:
    suma+=skaicius
    print(suma)
print(f"galutine suma: {suma}")

165
654
1086
galutine suma: 1086

# if deklaracija